<section id="login">
    <%= form_tag "admin/check", method: :post do %>
      <h1>Log in</h1>
    <input type="string" name="name">
    <input type="password" name="password">
    <input type="submit" value="Log in" id="add_button">
    <%end%>
</section>