#preview
{
    display: none;
    position: fixed;
    width: 100%;
    margin: auto;
    background-color: #FFFFFF;
    z-index: 14;
}
#edit_add
{
    display: inline-block;
    width: 300px;
    background-color: #F8F8F8;
    padding: 2em;
    padding-bottom: 8%;
    vertical-align: top;
}
#login
{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 300px;
    background-color: #F8F8F8;
    padding: 2em;
    padding-bottom: 8%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    text-align: center;
}
#login form
{
    width: 100%;
}
#login input[type="submit"]
{
    width: 75%;
}
#login input[type="submit"]:hover
{
    background-color: #0CC;
    color: #FFFFFF;
}
#login input
{
    width: 90%;
    text-align: center;
    text-align-last: center;
    height: auto;
    text-decoration: none;
    font-family: 'lato', arial;
    font-size: 1em;
    color: black;
    border: 3px solid #0CC;
    text-align: center;
  background-color: #F5F5F5 ;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    margin-top: 30px;
    display: -webkit-flex;
  display:        flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#block
{
    width: 80%;
    margin: auto;
}

#block .def-txt
{
  height: 500px;
}

#edit_add .def-txt
{
  height: 300px;

}

#edit_add h1
{
    text-align: center;
    color: #0CC;
}
#edit_add input[type="submit"]
{
    width: 75%;
}
#edit_add input[type="submit"]:hover
{
    background-color: #0CC;
    color: #FFFFFF;
}
#edit_add input, select
{
    width: 90%;
    text-align: center;
    text-align-last: center;
    height: auto;
    text-decoration: none;
    font-family: 'lato', arial;
    font-size: 1em;
    color: black;
    border: 3px solid #0CC;
    text-align: center;
  background-color: #F5F5F5 ;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    margin-top: 30px;
    display: -webkit-flex;
  display:        flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#add_button
{
    width: 90%;
    text-align: center;
    text-align-last: center;
    height: auto;
    text-decoration: none;
    font-family: 'lato', arial;
    font-size: 1em;
    color: black;
    border: 3px solid #0CC;
    text-align: center;
  background-color: #F5F5F5 ;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    margin-top: 30px;
    display: -webkit-flex;
  display:        flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Nav Admin */
#delete
{
  text-align: right;
  right: 0px;
}

 #hidden-table
 {
    display: none;
    vertical-align: top;
 }
  #div_dashboard {
  display: inline-flex;
  background: #ffffff;
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #fff;
}
.dashboard {
    background-color: #35bac1;
  height: auto;
  min-height: calc(100vh - 80px);
  width: 240px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 5;
  outline: none;
}
.dashboard ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dashboard ul li {
  padding: 0.5em 1em 0.5em 3em;
  font-size: 0.95em;
  font-weight: regular;
  background-repeat: no-repeat;
  background-position: left 15px center;
  background-size: auto 20px;
  transition: all 0.15s linear;
  cursor: pointer;
}
.dashboard ul li.icon-dashboard {
  background-image: url("http://www.entypo.com/images/gauge.svg");
}
.dashboard ul li.icon-pro {
  background-image: url("http://www.entypo.com/images/man.svg");
}
.dashboard ul li.icon-commande {
  background-image: url("http://www.entypo.com/images/list.svg");
}
.dashboard ul li.icon-edit {
  background-image: url("http://www.entypo.com/images/tools.svg");
}
.dashboard ul li.icon-cate {
  background-image: url("http://www.entypo.com/images/book.svg");
}
.dashboard ul li.icon-add_s {
  background-image: url("http://www.entypo.com/images/plus.svg");
}
.dashboard ul li.icon-avis {
  background-image: url("http://www.entypo.com/images/chat.svg");
}
.dashboard ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.dashboard ul li:focus {
  outline: none;
}
@media screen and (max-width: 900px) and (min-width: 400px) {
  .dashboard {
    width: 90px;
  }
  .dashboard ul li {
    height: 60px;
    background-position: center center;
    background-size: 30px auto;
    position: relative;
  }
  .dashboard ul li span {
    opacity: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.2em 0.5em;
    border-radius: 4px;
    top: 50%;
    left: 80px;
    transform: translate3d(-15px, -50%, 0);
    transition: all 0.15s ease-in-out;
  }
  .dashboard ul li span:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);
  }
  .dashboard ul li:hover span {
    opacity: 1;
    transform: translate3d(0px, -50%, 0);
  }
}
@media screen and (max-width: 400px) {
  .dashboard {
    width: 230px;
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
    transform: translate3d(-230px, 0, 0);
    transition: all 0.3s ease-in-out;
  }
  .dashboard .smartphone-menu-trigger {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 100%;
    background: #35bac1;
  }
  .dashboard .smartphone-menu-trigger:before,
  .dashboard .smartphone-menu-trigger:after {
    content: '';
    width: 50%;
    height: 2px;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
  .dashboard .smartphone-menu-trigger:after {
    top: 55%;
    transform: translate3d(-50%, -50%, 0);
  }
  .dashboard ul li {
    padding: 1em 1em 1em 3em;
    font-size: 1.2em;
  }
  .dashboard:focus {
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);
  }
  .dashboard:focus .smartphone-menu-trigger {
    pointer-events: none;
  }
}
#dashboard a {
      color: black;
      text-decoration: none;
}
#dashboard a:hover {
      color: #0CC;
      text-decoration: none;
}
#div-table
{
    vertical-align: top;
    margin: 20px 20px auto 20px;
    width: calc(100% - 240px);
    table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2}
th {
    background-color: #35bac1;
    color: white;
}
}
.tabs
{
    display: none;
}
#dashboard
{
    width: 100%;
    display: flex;
}

.add_new {

  position: relative;
  display: none;
  margin: auto;
  margin-top: 3%;
  width: calc(100% - 240px);
  z-index: 6;
}
