#edit_add
{
	margin: 50px;
	display: inline-block;
	width: 35%;
	background-color: #F8F8F8;
	padding: 2em;
	padding-bottom: 8%;
	vertical-align: top;
}

#login
{
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 20%;
	background-color: #F8F8F8;
	padding: 2em;
	padding-bottom: 8%;
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	text-align: center;
}

#login form
{
	width: 100%;
}

#login input[type="submit"]
{
	width: 75%;
}

#login input[type="submit"]:hover
{
	background-color: #0CC;
	color: #FFFFFF;
}

#login input
{
	width: 90%;
	text-align: center;
	text-align-last: center;
	height: auto;
	text-decoration: none;
	font-family: 'lato', arial;
	font-size: 1em;
	color: black;
	border: 3px solid #0CC;
	text-align: center;
  background-color: #F5F5F5 ;
	border-radius: 0.2em 0.2em 0.2em 0.2em;
	margin-top: 30px;
	display: -webkit-flex;
  display:        flex;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
	margin: auto;
	margin-top: 30px;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#block
{
	width: 80%;
	margin: auto;
}

#edit_add h1
{
	text-align: center;
	color: #0CC;
}

#edit_add input[type="submit"]
{
	width: 75%;
}


#edit_add input[type="submit"]:hover
{
	background-color: #0CC;
	color: #FFFFFF;
}

#edit_add input, select
{
	width: 90%;
	text-align: center;
	text-align-last: center;
	height: auto;
	text-decoration: none;
	font-family: 'lato', arial;
	font-size: 1em;
	color: black;
	border: 3px solid #0CC;
	text-align: center;
  background-color: #F5F5F5 ;
	border-radius: 0.2em 0.2em 0.2em 0.2em;
	margin-top: 30px;
	display: -webkit-flex;
  display:        flex;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
	margin: auto;
	margin-top: 30px;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#add_button
{
	width: 90%;
	text-align: center;
	text-align-last: center;
	height: auto;
	text-decoration: none;
	font-family: 'lato', arial;
	font-size: 1em;
	color: black;
	border: 3px solid #0CC;
	text-align: center;
  background-color: #F5F5F5 ;
	border-radius: 0.2em 0.2em 0.2em 0.2em;
	margin-top: 30px;
	display: -webkit-flex;
  display:        flex;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
	margin: auto;
	margin-top: 30px;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

th {
    background-color: #0CC;
		color: white;
}

table {
    border-collapse: collapse;
    width: 80%;
		margin-left: 10%;
		margin-top: 1%;
		margin-bottom: 1%;
}

tr {
	width: 80%;

}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
	background-color: #f2f2f2}
