// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* formulaire */

#all_form
{
	min-height: calc(100vh - 80px);
	margin-bottom: 3%;
	margin-top: 10%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: top;
	min-width: 400px;
}

#form_input
{
	width: 900px;
}

#preview_prod
{
	height: 700px;
	width: 500px;
	background: #0CC;
	align-items: baseline;
}

.formulaire
{
	align-items: top;
	vertical-align: top;
	display: flex;
	flex-wrap: wrap;
}

#img_prod
{
	margin: auto;
	border: 3px solid #0CC;
	margin-top: 2%;
	height: 300px;
	width: 300px;
}


#title_prod
{
		margin: 0% 25% auto 25%;
		color: #0CC;
		font-size: 1.8em;
		max-width: 600px;
}

/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);
/*basic reset*/
* {margin: 0; padding: 0;}
/*form styles*/
#msform {
  width: 100%;
	max-width: 600px;
	margin: 50px auto;
  text-align: center;
  position: relative;
}
#msform fieldset {
  background: #f2f2f2;
  border: 0 none;
  border-radius: 3px;
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;

  /*stacking fieldsets above each other*/
  position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: black;
  font-size: 13px;
}
/*buttons*/
#msform .action-button {
  width: 100px;
  background: #0CC;
  font-weight: bold;
  color: #f2f2f2;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px #f2f2f2, 0 0 0 3px #0CC;
}
/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  color: black;
  text-transform: uppercase;
  font-size: 1em;
  width: 33.33%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: #f2f2f2;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 4px;
  background: #f2f2f2;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
  background: #0CC;
  color: white;
}

@media (max-width: 1200px) {

	#title_prod
	{
			margin: 3% 20% auto 20%;
			color: #0CC;
			font-size: 1.8em;
	}

	#msform {
	  width: 60%;
	  margin: 50px auto;
	  text-align: center;
	  position: relative;
	}

}


@media (max-width: 800px) {

	#title_prod
	{
			margin: 3% 15% auto 15%;
			color: #0CC;
			font-size: 1.8em;
	}

	#msform {
	  width: 100%;
	  margin: 50px auto;
	  text-align: center;
	  position: relative;
	}

}
/* Toute la page */

body
{
	font-family: lato, arial, "arial black";
	background: #fff;
	width: auto;
	margin: 0 0 0 0;
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
}


/* Le Header */
.header
{
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    background-image: url(asset-path('Header.jpg'));
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    .logo
    {
        img
        {
            margin-left: 8%;
            width: 13em;
        }
    }
    .head
    {
				z-index: 4;
        margin-left: auto;
        margin-right: 2%;
        .header_menu
        {
            display: block;
            cursor: pointer;
            width: 2em;
        }
    }
}
.menu
{
				z-index: 3;
        position: absolute;
        transform: translateX(500px);
        transition-duration: 1s;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.9);
        width: 400px;

        .contain_menu
                {
                    margin-top: 15%;
                    margin-left: 3%;
                    width: 70%;
                }
            .co
                {
                    margin-top: 8%;
                    border-bottom: 1px solid #888888;
                    width: 70%;
                }
            .depann
                {
                    margin-top: 8%;
                    border-bottom: 1px solid #888888;
                    width: 70%;
                }
            .onglet
                {
                    margin-top: 8%;
                    border-bottom: 1px solid #888888;
                    width: 70%;
                }
            .foot
                {
                    margin-top: 8%;
                    width: 70%;
                }
        a
        {
            display: block;
            width: 100%;
            text-align: left;
            margin-left: 8%;
            height: 30px;
            font-size: 0.9em;
            font-weight: bold;
            color: #FFF;
            text-decoration: none;
        }
    a:hover
    {
        color: #fdcb67;
    }
}
.sidebar
{
    .header
    {
        position: static;
    }
    .cache
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 500px;
        bottom: 0;
    }
    .menu
    {
        transform: translateX(0px);
        transition-duration: 1s;
    }
}

/* Bandeau */
#bandeau
{
    margin: 0% 8% 5% 8%;
}
@font-face {
    font-family: 'LilitaOne-Regular.ttf';
    src: font-url('LilitaOne-Regular.ttf');
}
#bandeau h1
{
    text-align: center;
    margin-top: 5%;
    font-family: 'LilitaOne-Regular.ttf', arial;
    font-size: 2.7em;
    color: #0CC;
}
#bandeau .bandeau img
{
    margin-left: 10%;
    margin-right: 10%;
    max-width: 100%;
    width: auto;
    min-width: auto;
    min-height: auto;
}
#bandeau .bandeau-light img
{
    display : none;
    max-width: 100%;
    width: auto;
    min-width: auto;
    min-height: auto;
}
.bandeau
{
    margin-top: 50px;
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
@font-face {
    font-family: 'Lato';
    src: font-url('Lato-Regular.ttf');
}
#bandeau .search a
{
    text-decoration: none;
    font-family: 'lato', arial;
    font-size: 1.15em;
    color: #0CC;
    border: 3px solid #0CC;
    text-align: center;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    margin-top: 40px;
    padding: 9px 9px 9px 9px;
    width: 240px;
    height: 27px;
    display: -webkit-flex;
    display:        flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
#bandeau .search a:hover
{
    color: white;
    background-color: #0cc
}
#bandeau .search
{
  max-height: 50px;
  min-width: 150px;
  margin-right: 30%;
  margin-left: 30%;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
@media (max-width: 800px)
{
    #bandeau
    {
        margin-bottom: 7%;
    }
    #bandeau h1
    {
        font-size: 2em;
    }
    #bandeau .bandeau img
    {
        display : none;
    }
    #bandeau .bandeau-light img
    {
        display : block;
    }
    #bandeau .search a
    {
        margin-top: 100px;
        font-size: 1em;
    }
    #bandeau .search
    {
        margin-left:25%;
        margin-right:25%;
    }
    #bandeau h1
    {
        font-size: 1.8em;
    }
        #bandeau .search a
    {
        margin-top: 50px;
        font-size: 0.8em;
        border: 2px solid #0CC;
        padding: 6px 6px 6px 6px;
    }
    #bandeau .search
    {
        margin-left: 30%;
        margin-right: 30%;
    }
}




/* Les Etapes */
#etape123
{
    min-height: 310px;
    height: auto;
    background: #f7f7f7;
}
#etape123 h2
{
    padding-top: 40px;
    text-align: center;
    font-size: 2em;
    font-weight: 300;
    color: #282828;
}
ol
{
 list-style-type:none;
 }
#etape123 ol
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
}
#etape123 li
{
    color: #666;
}
#etape123 .etape
{
    width: 270px;
    text-align: center;
}
#etape123 img
{
    width: 50px
}
#etape123 h4
{
    font-weight: 400;
    font-size: 1.1em;
    margin-bottom: 0em;
}
#etape123 p
{
    font-weight: 300;
    font-size: 0.9em;
    color: #282828;
}
@media (max-width: 900px)
{
    #etape123 h2
    {
        font-size: 1.8em;
    }
}
@media (max-width: 700px)
{
    #etape123 h2
    {
        font-size: 1.7em;
    }
}




/* Notre Histoire */


/*#Histoire img
{
	height: auto;
	width: auto;
	max-width: 100%;
}

.Histoire
{
	padding-top: 25px;
	text-align: center;
	margin-top: 0px;
	font-family: Lato, arial;
	font-size: 1.8em;
	color: #3aa;
}

.dessin
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}
*/


/* Portail */

.portail
{
    display: inline-block;
	min-height: calc(100vh - 100px);
	min-width: 100%;
	margin-bottom: 0px;
	background-color: #fff;
}

.portail h1
{
	font-size: 2.8em;
	color: #0CC;
	margin-top: 50px;
	text-align: center;
}


#dessin
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 8% 2% 8% 2%;
}

.portail h2 a
{
	text-decoration: none;
	font-family: 'lato', arial;
	font-size: 0.8em;
	color: #0CC;
	border: 2px solid #0CC;
	text-align: center;
	border-radius: 0.2em 0.2em 0.2em 0.2em;
  	padding: 3px 3px 3px 3px;
  	width: 120px;
  	height: 27px;
    display: -webkit-flex;
    display:        flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}


.portail h2 a:hover
{
	border: 2px solid #0CC;
	color: white;
	background-color: #0CC;
	text-align: center;
	border-radius: 0.2em 0.2em 0.2em 0.2em;
  	padding: 3px 3px 3px 3px;
  	width: 120px;
}


.portail h2
{
	font-size: 1.2em;
	text-align: Center ;

}




.portail img
{
	width: 130px;
}





/* L'entonnoire */

.ento
{
  display: inline-block;
	min-height: calc(100vh - 100px);
	min-width: 100%;
	padding-top: 2%;
	margin-bottom: 0px;
	background-color: #fff;
}

.ento h1
{
	font-size: 2.2em;
	color: #0CC;
	margin-top: 50px;
	text-align: center;
}

#three
{
	margin-bottom: 8%;
}

#three .search a
{
	text-decoration: none;
	font-family: 'lato', arial;
	font-weight: bold;
	font-size: 1.15em;
	color: #fff;
	background-color: #0cc;
	border: 2px solid #fff;
	text-align: center;
	border-radius: 0.3em 0.3em 0.3em 0.3em;
	margin-top: 10px;
  	padding: 9px 9px 9px 9px;
  	width: 50%;
  	height: 25px;
    display: -webkit-flex;
    display:        flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#three .search a:hover
{
	color: #0cc;
	border: 2px solid #0cc;
	background-color: #fff;
}

#three .search
{
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}


@media (max-width: 900px)
{
	#three .search a
	{
		width: 60%;
		font-size: 1.05em;
	}
}

@media (max-width: 700px)
{
	#three .search a
	{
		width: 70%;
		font-size: 0.95em;
	}
}





/* Estimation des prix - centre page */


#body
{
	min-height: calc(100vh - 100px);
	margin-left: 10%;
	margin-right:10%;
	padding-top: 1%;
}






/* Estimation */


#estimation

{
	min-width: auto;
	max-width: 1200px;
	margin: 2em auto 2em auto;
	background-color: #fff;
	display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
}

#estimation .resume
{
	display: flex;
	background-color: #2eb8b8;
	border: 2px solid #2eb8b8;
	padding: 1.5em 1.5em 1em 1.5em;
	min-width: 370px;
	margin-bottom: 10px;

}

#estimation .resume img
{
	width : auto;
	max-width: 350px;
	min-width: 350px;
	height: auto;
	max-height: 350px;
	min-height: 350px;
}

#estimation .info
{
	margin-left: 1em;
	margin-bottom: 1em;
}

#estimation h1
{
	font-size: 1.7em;
	color: white;
	margin-right: 15px;
	margin-bottom: 0px;
}

#estimation .prix
{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid white;
	margin-top: 15px;
	margin-right: 15px;
	flex-wrap: wrap;

}

#estimation .prix h3
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 0px;
	font-size: 1.2em;
	color: white;
	margin-top: 2px;
}

#estimation .prix h3 span
{
	opacity: 0;
}


#estimation .left
{
	text-align: left;
}

#estimation .right
{
	text-align: right;

}

#estimation .info p
{
	font-size: 0.9em;
	color: white;
	margin-right: 15px;
	text-align: justify;
	padding-bottom: 1.2em;
}

#estimation .bouton a
{
	text-decoration: none;
	font-family: 'lato', arial;
	font-size: 1.05em;
	color: #fff;
	border: 3px solid #ffcc66;
	background-color: #ffcc66;
	text-align: center;
	border-radius: 0.2em 0.2em 0.2em 0.2em;
  	padding: 8px 8px 8px 8px;
  	min-width: 180px;
  	height: 25px;
		margin-bottom: 0.5em;
    display: -webkit-flex;
    display:        flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#estimation .bouton
{
  max-height: 50px;
  min-width: 150px;
  margin-top: 8%;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}


@media (max-width: 950px)
{
	#body
	{
		margin-left: 5%;
		margin-right: 5%;
	}

	#estimation .resume
	{
		flex-direction: column;
		align-items: center;
		margin-left: 15%;
		margin-right: 15%;
		padding: 2em 1em 1em 1em;
	}

	#estimation .info
	{
		font-size: 0.9em;
	}

	#estimation .prix h3
	{
		margin-top: 2px;
	}

	#estimation .prix
	{
		margin-top: 15px;
	}

	#estimation .bouton
	{
		margin-right: 25%;
		margin-left:25%;
	}
}

@media (max-width: 700px)
{
	#estimation .resume
	{
		margin-left: 10%;
		margin-right: 10%;
		padding: 2em 1em 1em 1em;
	}
}



/* Description */

#description
{
	max-width: 1200px;
	margin: 5% auto 5% auto;
	text-align: justify;
	margin-bottom: 70px;

}

#description h4
{
	color : #585858;
	font-size: 1em;
	margin-bottom: 0px;
}

#description h2
{
	color : #0CC;
	font-size: 1.2em;
}

#description p, ul
{
	color: #585858;
}

@media (max-width: 950px)
{
	#description
	{
		margin-left: 10%;
		margin-right: 10%;
	}
}

@media (max-width: 600px)
{
	#description
	{
		margin-left: 5%;
		margin-right: 5%;
	}
}





/* Footer */


#footer
{
	height: 170px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 0px;
	margin-bottom: 0px;
}


footer
{
	height: 170px;
	width: auto;
	background-image: url(asset-path('Footer.jpg'));
	background-repeat: no-repeat;
	flex-wrap: wrap;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}


ul a
{
	margin-right: 80px;
	display: inline-block;
	justify-content: space-between;
	font-size: 0.8em;
	color: #fdcb67;
	text-decoration: none;
}


@media (max-width: 410px)
{
	#footer
	{
		flex-direction: column;
		align-items: left;
		justify-content: space-around;
	}

	ul a
	{
		font-size: 0.7em;
		font-weight: normal;
		text-align: left;
		justify-content: center;
	}

}
