// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Estimation des prix - centre page */


#body
{
	min-height: calc(100vh - 100px);
	margin-left: 10%;
	margin-right:10%;
}

/* Estimation */


#estimation

{
	min-width: auto;
	margin: 2em 2em 2em 2em;
	background-color: #fff;
	display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
}

#estimation .resume
{
	display: flex;
	background-color: #2eb8b8;
	border: 2px solid #2eb8b8;
	padding: 1.2em 1.2em 1.2em 1.2em;
	min-width: 370px;
	margin-bottom: 10px;

}

#estimation .resume img
{
	height: 350px;
	width: 350px;
}

#estimation .info
{
	margin-left: 1em;
	margin-bottom: 1em;
}

#estimation h1
{
	font-size: 1.7em;
	color: white;
	margin-right: 15px;
	margin-bottom: 0px;
}

#estimation .prix
{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid white;
	margin-top: 15px;
	margin-right: 15px;
	flex-wrap: wrap;

}

#estimation .prix h3
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 0px;
	font-size: 1.2em;
	color: white;
	margin-top: 2px;
}

#estimation .prix h3 span
{
	opacity: 0;
}


#estimation .left
{
	text-align: left;
}

#estimation .right
{
	text-align: right;

}

#estimation .info p
{
	font-size: 0.9em;
	color: white;
	margin-right: 15px;
	text-align: justify;
}

#estimation .bouton a
{
	text-decoration: none;
	font-family: 'lato', arial;
	font-size: 1.05em;
	color: #fff;
	border: 3px solid #ffcc00;
	background-color: #ffcc00;
	text-align: center;
	border-radius: 0.2em 0.2em 0.2em 0.2em;
  	padding: 8px 8px 8px 8px;
  	min-width: 180px;
  	height: 25px;
  	margin-top: 1.5em;
    display: -webkit-flex;
    display:        flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#estimation .bouton a:hover
{
	color: #ffcc00;
	border: 3px solid #ffcc00;
	background-color: #fff
}

#estimation .bouton
{
  max-height: 50px;
  min-width: 150px;
  margin-top: 8%;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}


@media (max-width: 950px)
{
	#body
	{
		margin-left: 5%;
		margin-right: 5%;
	}

	#estimation .resume
	{
		flex-direction: column;
		align-items: center;
		margin-left: 15%;
		margin-right: 15%;
	}

	#estimation .info
	{
		font-size: 0.9em;
	}

	#estimation .prix h3
	{
		margin-top: 2px;
	}

	#estimation .prix
	{
		margin-top: 15px;
	}

	#estimation .bouton
	{
		margin-right: 25%;
		margin-left:25%;
	}
}

@media (max-width: 700px)
{
	#estimation .resume
	{
		margin-left: 10%;
		margin-right: 10%;
	}
}

/* formulaire */

#formulaire
{
	min-height: calc(100vh - 100px);
	min-width: 100%;
	margin-bottom: 0px;
	height: auto;
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
	justify-content: center;
	padding: 2em;
	color: #424242;
	background-color: #F8F8F8;
}

#formulaire h2
{
	font-size: 1.3em
}

/* Gauche */

#gauche
{
	height: auto;
	width: auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	padding: 2em;
	border-right: 1px solid #E8E8E8;
	background-color: #F5F5F5 ;

}


#formulaire #gauche input
{
	width: 400px;
	height: 30px;
	font-size: 0.8em;
}

#formulaire #gauche .asterix
{
	font-size: 0.8em;
	color: #585858;
}


/* Droite */

#droite
{
	height: auto;
	width: auto;
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
	justify-content: center;
	padding: 2em;
}

#formulaire h1
{
	color: #0cc;
	font-size: 1.45em;
	max-width: 400px;
}

#formulaire #droite .promo input
{
	width: 200px;
	height: 30px;
	font-size: 0.8em;
}

#formulaire .check a
{
	text-decoration: none;
	color: #0cc;
	font-size: 0.9em;
}

#formulaire .search a
{
	text-decoration: none;
	font-family: 'lato', arial;
	font-size: 1em;
	color: #0CC;
	border: 3px solid #0CC;
	text-align: center;
	border-radius: 0.2em 0.2em 0.2em 0.2em;
	margin-top: 30px;
		padding: 9px 9px 9px 9px;
		width: 200px;
		height: 20px;
		display: -webkit-flex;
		display:        flex;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
}
