<section class="CGU">
  <div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h1>CONDITIONS G&Eacute;N&Eacute;RALES D&rsquo;UTILISATION DE SITE INTERNET</h1>
    <p>&nbsp;</p>
    <p><strong>1. Objet</strong></p>
    <p>Les pr&eacute;sentes conditions g&eacute;n&eacute;rales ont pour objet de d&eacute;finir les modalit&eacute;s et conditions d&rsquo;utilisation des services propos&eacute;s sur le site (ci-apr&egrave;s : les &laquo; Services &raquo;), ainsi que de d&eacute;finir les droits et obligations des parties dans ce cadre.</p>
    <p>Elles sont notamment accessibles et imprimables &agrave; tout moment par un lien direct en bas de la page d&rsquo;accueil du site.</p>
    <p>Elles peuvent &ecirc;tre compl&eacute;t&eacute;es, le cas &eacute;ch&eacute;ant, par des conditions d&rsquo;utilisation particuli&egrave;res &agrave; certains Services. En cas de contradiction, les conditions particuli&egrave;res pr&eacute;valent sur ces conditions g&eacute;n&eacute;rales.</p>
    <p>&nbsp;</p>
    <p><strong>2. Exploitant des Services</strong></p>
    <p>Les Services sont exploit&eacute;s par la soci&eacute;t&eacute; Maneo, SAS au capital social de 500 euros, immatricul&eacute;e au RCS de PARIS sous le n&deg; 821 068 442 00010, dont le si&egrave;ge social est situ&eacute; 25 rue Jonquoy, 75014, Paris (ci-apr&egrave;s : &laquo;<strong>Maneo SAS</strong>&raquo;) et d&eacute;tentrice de la marque Fix Runners.</p>
    <p><strong>Maneo SAS</strong> peut &ecirc;tre contact&eacute;e aux coordonn&eacute;es suivantes :</p>
    <p>Adresse postale : 25 rue Jonquoy, 75014, Paris</p>
    <p>Adresse &eacute;lectronique : contact@fixrunners.com</p>
    <p>&nbsp;</p>
    <p><strong>3. Acc&egrave;s au site et aux Services</strong></p>
    <p>Les Services sont accessibles, sous r&eacute;serve des restrictions pr&eacute;vues sur le site :&nbsp;</p>
    <p>-&nbsp; &agrave; toute personne physique disposant de la pleine capacit&eacute; juridique pour s&rsquo;engager au titre des pr&eacute;sentes conditions g&eacute;n&eacute;rales. La personne physique qui ne dispose pas de la pleine capacit&eacute; juridique ne peut acc&eacute;der au Site et aux Services qu&rsquo;avec l&rsquo;accord de son repr&eacute;sentant l&eacute;gal ;&nbsp;</p>
    <p>-&nbsp; &agrave; toute personne morale agissant par l&rsquo;interm&eacute;diaire d&rsquo;une personne physique disposant de la capacit&eacute; juridique pour contracter au nom et pour le compte de la personne morale.</p>
    <p>&nbsp;</p>
    <p><strong>4. Acceptation des conditions g&eacute;n&eacute;rales</strong></p>
    <p>L&rsquo;acceptation des pr&eacute;sentes conditions g&eacute;n&eacute;rales est mat&eacute;rialis&eacute;e par une case &agrave; cocher dans le formulaire de commande de prestation. Cette acceptation ne peut &ecirc;tre que pleine et enti&egrave;re. Toute adh&eacute;sion sous r&eacute;serve est consid&eacute;r&eacute;e comme nulle et non avenue. L&rsquo;Utilisateur qui n&rsquo;accepte pas d&rsquo;&ecirc;tre li&eacute; par les pr&eacute;sentes conditions g&eacute;n&eacute;rales ne doit pas utiliser les Services.</p>
    <p>&nbsp;</p>
    <p><strong>5. Description du mode de fonctionnement du service propos&eacute;</strong></p>
    <p>Le service propos&eacute; par <strong>Fix Runners</strong> consiste &agrave; mettre en relation des prestataires qualifi&eacute;s pour les services demand&eacute;s par les utilisateurs, et les utilisateurs eux-m&ecirc;mes.</p>
    <p>Les prestataires propos&eacute;s par <strong>Fix Runners</strong> sont qualifi&eacute;s dans les domaines de l&rsquo;&eacute;lectricit&eacute;, de la plomberie, du chauffage, de la serrurerie ainsi que de la vitrerie. Les prestataires sp&eacute;cialis&eacute;s pour le chauffage sont agr&eacute;g&eacute;s pour les diff&eacute;rentes marques de chaudi&egrave;res.</p>
    <p>En s&eacute;lectionnant ses partenaires, <strong>Maneo SAS</strong> a veill&eacute; &agrave; ce qu&rsquo;ils r&eacute;pondent aux crit&egrave;res administratifs leur permettant de proposer leurs prestations. De plus,<strong> Fix Runners</strong> a pr&ecirc;t&eacute; une attention particuli&egrave;re &agrave; leur fiabilit&eacute; et &agrave; la qualit&eacute; de leur travail afin de permettre un service optimal.</p>
    <p><strong>Maneo SAS</strong> tient &agrave; rappeler &agrave; l&rsquo;utilisateur du service qu&rsquo;elle n&rsquo;est en aucun cas partie des contrats conclus entre les utilisateurs et ses partenaires. La Soci&eacute;t&eacute; n&rsquo;est que l&rsquo;interm&eacute;diaire entre ces deux parties.</p>
    <p>&nbsp;</p>
    <p><strong>6. Condition d&rsquo;utilisation des Services fournis.</strong></p>
    <p><strong>Maneo SAS</strong> insiste sur le fait que Les Services sont fournis &agrave; titre gratuit.</p>
    <p>&nbsp;</p>
    <p>6.1&nbsp; Facturation&nbsp;</p>
    <p>Les Services font l&rsquo;objet d&rsquo;un blocage de somme sur un Wallet Lemonway correspondant au montant maximal estim&eacute; par le premier devis qui est communiqu&eacute; &agrave; l&rsquo;utilisateur par tout moyen utile. Une fois le prestataire arriv&eacute; sur place, il fera alors un nouveau devis que l&rsquo;utilisateur aura le choix d&rsquo;accepter ou de refuser. Dans le cas o&ugrave; le nouveau devis serait plus &eacute;lev&eacute; et accept&eacute; par l&rsquo;utilisateur, ce dernier devra bloquer le suppl&eacute;ment apr&egrave;s invitation par mail sous vingt minutes apr&egrave;s r&eacute;ception de ce dernier. Dans le cas ou le nouveau devis serait inf&eacute;rieur et accept&eacute; par l&rsquo;utilisateur, seulement la somme indiqu&eacute;e sera pr&eacute;lev&eacute;e apr&egrave;s r&eacute;alisation des travaux.&nbsp;</p>
    <p>6.2 &nbsp; Modalit&eacute;s de paiement</p>
    <p>Les modalit&eacute;s de paiement du prix des Services sont d&eacute;crites sur le site. Le paiement s&rsquo;effectue par pr&eacute;l&egrave;vement automatique &agrave; partir du compte Lemonway de l&rsquo;utilisateur. Le pr&eacute;l&egrave;vement est mis en &oelig;uvre par le prestataire de paiement d&eacute;sign&eacute; sur le site, qui seul conserve les coordonn&eacute;es bancaires de l&rsquo;Utilisateur &agrave; cette fin. <strong>Maneo SAS</strong> ne conserve aucune coordonn&eacute;e bancaire.&nbsp;</p>
    <p>L&rsquo;Utilisateur garantit &agrave; <strong>Maneo SAS</strong> qu'il dispose des autorisations n&eacute;cessaires pour utiliser le mode de paiement choisi. Il s&rsquo;engage &agrave; prendre les mesures n&eacute;cessaires afin que le pr&eacute;l&egrave;vement automatique du prix des Services puisse &ecirc;tre effectu&eacute;.&nbsp;</p>
    <p>6.3 Contact avec le prestataire</p>
    <p>Apr&egrave;s avoir bloqu&eacute; la somme maximale estim&eacute;e au premier devis, l&rsquo;utilisateur sera contact&eacute; par un des partenaires, s&eacute;lectionn&eacute; de mani&egrave;re neutre par La Soci&eacute;t&eacute;, qui sera qualifi&eacute; pour r&eacute;pondre aux probl&egrave;mes &eacute;num&eacute;r&eacute;s par l&rsquo;utilisateur. &nbsp; &nbsp; &nbsp; &nbsp;</p>
    <p>6.4 D&eacute;roulement de l&rsquo;intervention</p>
    <p>Apr&egrave;s avoir convenu de l&rsquo;heure de rendez-vous avec l&rsquo;utilisateur, le Prestataire se rendra &agrave; l&rsquo;adresse indiqu&eacute;e par ce premier dans le formulaire de passation de commande. En&nbsp; arrivant sur place, le Prestataire r&eacute;alise un devis final. Si le Devis Final exc&egrave;de le montant estim&eacute; par la description faite avant la passation de commande, alors l&rsquo;utilisateur a le choix de l&rsquo;accepter ou de refuser. S&rsquo;il l&rsquo;accepte, l&rsquo;utilisateur se doit de bloquer la somme suppl&eacute;mentaire dans les vingt minutes apr&egrave;s r&eacute;ception du Mail d&rsquo;Invitation. Suite &agrave; la confirmation de cette op&eacute;ration, le Partenaire effectue l&rsquo;intervention correspondant au devis final qu&rsquo;il aura r&eacute;alis&eacute;.&nbsp; <strong>Maneo SAS</strong> tient &agrave; pr&eacute;ciser qu&rsquo;elle n&rsquo;est pas responsable d&rsquo;une &eacute;ventuelle absence ou d&rsquo;un &eacute;ventuel retard du prestataire. De plus, elle n&rsquo;a aucun lien avec l&rsquo;&eacute;tablissement du devis final.&nbsp;</p>
    <p>6.5&nbsp; Facturation</p>
    <p>Une fois l&rsquo;intervention r&eacute;alis&eacute;e, <strong>Maneo SAS</strong> pr&eacute;l&egrave;vera la somme bloqu&eacute;e sur le Wallet. Lemonway de l&rsquo;utilisateur afin de la reverser au Prestataire s&eacute;lectionn&eacute;.</p>
    <p>&nbsp;</p>
    <p><strong>7. Donn&eacute;es</strong></p>
    <p>Lors de l&rsquo;utilisation des services de <strong>Fix Runners</strong>, l&rsquo;utilisateur reconna&icirc;t &ecirc;tre le seul responsable de la protection des donn&eacute;es qu&rsquo;il fournit. Il ne doit en aucun cas laisser des tiers utiliser ses donn&eacute;es.</p>
    <p>Dans le cas o&ugrave; un tiers utiliserait les donn&eacute;es de l&rsquo;utilisateur, &agrave; son insu ou non, ce dernier reconna&icirc;t &ecirc;tre le seul et unique responsable de cet acte.&nbsp;</p>
    <p>Toute commande effectu&eacute;e par un utilisateur sur le site <strong>Fix Runners</strong> est r&eacute;put&eacute;e avoir &eacute;t&eacute; effectu&eacute;e par ce m&ecirc;me utilisateur.</p>
    <p>&nbsp;</p>
    <p><strong>8. Obligations de l&rsquo;Utilisateur</strong></p>
    <p>Sans pr&eacute;judice des autres obligations pr&eacute;vues aux pr&eacute;sentes, l&rsquo;Utilisateur s&rsquo;engage &agrave; respecter les obligations qui suivent :</p>
    <p>&nbsp;</p>
    <p>8.1 &nbsp; L&rsquo;Utilisateur s&rsquo;engage, dans son usage des Services, &agrave; respecter les lois et r&egrave;glements en vigueur et &agrave; ne pas porter atteinte aux droits de tiers ou &agrave; l&rsquo;ordre public. Il est notamment seul responsable du bon accomplissement de toutes les formalit&eacute;s notamment administratives, fiscales et/ ou sociales et de tous les paiements de cotisations, taxes ou imp&ocirc;ts de toutes natures qui lui incombent, le cas &eacute;ch&eacute;ant, en relation avec son utilisation des Services. La responsabilit&eacute; de <strong>Maneo SAS</strong> ne pourra en aucun cas &ecirc;tre engag&eacute;e &agrave; ce titre.</p>
    <p>8.2 &nbsp; L&rsquo;Utilisateur reconna&icirc;t avoir pris connaissance sur le site des caract&eacute;ristiques et contraintes, notamment techniques, de l&rsquo;ensemble des Services. Il est seul responsable de son utilisation des Services.</p>
    <p>8.3 &nbsp; L&rsquo;Utilisateur est inform&eacute; et accepte que la mise en &oelig;uvre des Services n&eacute;cessite qu&rsquo;il soit connect&eacute; &agrave; internet et que la qualit&eacute; des Services d&eacute;pend directement de cette connexion, dont il est seul responsable &agrave; assumer les frais y aff&eacute;rant.</p>
    <p>8.4 &nbsp; L&rsquo;Utilisateur est &eacute;galement seul responsable des relations qu&rsquo;il pourra nouer avec les Prestataires et des informations qu&rsquo;il leur communique dans le cadre des Services. Il lui appartient d&rsquo;exercer la prudence et le discernement appropri&eacute;s dans ces relations et communications. L&rsquo;Utilisateur s&rsquo;engage en outre, dans ses &eacute;changes avec les Prestataires, &agrave; respecter les r&egrave;gles usuelles de politesse et de courtoisie.</p>
    <p>8.5 &nbsp; L&rsquo;Utilisateur s&rsquo;engage &agrave; fournir &agrave; <strong>Maneo SAS</strong> toutes les informations n&eacute;cessaires &agrave; la bonne ex&eacute;cution des Services. Plus g&eacute;n&eacute;ralement, l&rsquo;Utilisateur s&rsquo;engage &agrave; coop&eacute;rer activement avec <strong>Maneo SAS</strong> et les prestataires en vue de la bonne ex&eacute;cution des Services.</p>
    <p>8.7 &nbsp; L&rsquo;Utilisateur reconna&icirc;t que les Services lui offrent une solution suppl&eacute;mentaire mais non alternative des moyens qu&rsquo;il utilise d&eacute;j&agrave; par ailleurs pour atteindre le m&ecirc;me objectif et que cette solution ne saurait se substituer &agrave; ces autres moyens.</p>
    <p>&nbsp;</p>
    <p><strong>9. Garantie de l&rsquo;Utilisateur</strong></p>
    <p>L&rsquo;Utilisateur garantit <strong>Maneo SAS</strong> contre toutes plaintes, r&eacute;clamations, actions et/ou revendications quelconques que <strong>Maneo SAS</strong> pourrait subir du fait de la violation, par l&rsquo;Utilisateur de l&rsquo;une quelconque de ses obligations ou garanties aux termes des pr&eacute;sentes conditions g&eacute;n&eacute;rales.</p>
    <p>Il s&rsquo;engage &agrave; indemniser <strong>Maneo SAS</strong> de tout pr&eacute;judice qu&rsquo;elle subirait et &agrave; lui payer tous les frais, charges et/ou condamnations qu&rsquo;elle pourrait avoir &agrave; supporter de ce fait.</p>
    <p>&nbsp;</p>
    <p><strong>10.&nbsp; Comportements prohib&eacute;s</strong></p>
    <p>10.1 Il est strictement interdit d&rsquo;utiliser les Services aux fins suivantes :</p>
    <p>- &nbsp; &nbsp; &nbsp; l&rsquo;exercice d&rsquo;activit&eacute;s ill&eacute;gales, frauduleuses ou portant atteinte aux droits ou &agrave; la s&eacute;curit&eacute; des tiers,</p>
    <p>- &nbsp; &nbsp; &nbsp; l&rsquo;atteinte &agrave; l&rsquo;ordre public ou la violation des lois et r&egrave;glements en vigueur,</p>
    <p>- &nbsp; &nbsp; &nbsp; l&rsquo;intrusion dans le syst&egrave;me informatique d&rsquo;un tiers ou toute activit&eacute; de nature &agrave; nuire, contr&ocirc;ler, interf&eacute;rer, ou intercepter tout ou partie du syst&egrave;me informatique d&rsquo;un tiers, en violer l&rsquo;int&eacute;grit&eacute; ou la s&eacute;curit&eacute;,</p>
    <p>- &nbsp; &nbsp; &nbsp; les manipulations destin&eacute;es &agrave; am&eacute;liorer le r&eacute;f&eacute;rencement d&rsquo;un site tiers,</p>
    <p>- &nbsp; &nbsp; &nbsp; l&rsquo;aide ou l&rsquo;incitation, sous quelque forme et de quelque mani&egrave;re que ce soit, &agrave; un ou plusieurs des actes et activit&eacute;s d&eacute;crits ci-dessus,</p>
    <p>- &nbsp; &nbsp; &nbsp; et plus g&eacute;n&eacute;ralement toute pratique d&eacute;tournant les Services &agrave; des fins autres que celles pour lesquelles ils ont &eacute;t&eacute; con&ccedil;us.</p>
    <p>10.2 Il est strictement interdit aux Utilisateurs de copier et/ou de d&eacute;tourner &agrave; leurs fins ou &agrave; celles de tiers le concept, les technologies ou tout autre &eacute;l&eacute;ment du site Fix Runners.&nbsp;</p>
    <p>10.3 Sont &eacute;galement strictement interdits : (i) tous comportements de nature &agrave; interrompre, suspendre, ralentir ou emp&ecirc;cher la continuit&eacute; des Services, (ii) toutes intrusions ou tentatives d&rsquo;intrusions dans les syst&egrave;mes de Fix Runners, (iii) tous d&eacute;tournements des ressources syst&egrave;me du site, (iv) toutes actions de nature &agrave; imposer une charge disproportionn&eacute;e sur les infrastructures de ce dernier, (v) toutes atteintes aux mesures de s&eacute;curit&eacute; et d&rsquo;authentification, (vi) tous actes de nature &agrave; porter atteinte aux droits et int&eacute;r&ecirc;ts financiers, commerciaux ou moraux de <strong>Maneo SAS</strong> ou des usagers de son site, et enfin plus g&eacute;n&eacute;ralement (vii) tout manquement aux pr&eacute;sentes conditions g&eacute;n&eacute;rales.</p>
    <p>10.4&nbsp; Il est strictement interdit de monnayer, vendre ou conc&eacute;der tout ou partie de l&rsquo;acc&egrave;s aux Services ou au site, ainsi qu&rsquo;aux informations qui y sont h&eacute;berg&eacute;es et/ou partag&eacute;es.</p>
    <p>&nbsp;</p>
    <p><strong>11.&nbsp; Sanctions des manquements</strong></p>
    <p>En cas de manquement &agrave; l&rsquo;une quelconque des dispositions des pr&eacute;sentes conditions g&eacute;n&eacute;rales ou plus g&eacute;n&eacute;ralement, d&rsquo;infraction aux lois et r&egrave;glements en vigueur par un Utilisateur, <strong>Maneo SAS</strong> se r&eacute;serve le droit de prendre toute mesure appropri&eacute;e et notamment de :</p>
    <p>&nbsp;</p>
    <p>(i)&nbsp; &nbsp; suspendre ou r&eacute;silier l&rsquo;acc&egrave;s aux Services de l&rsquo;Utilisateur, auteur du manquement ou de l&rsquo;infraction, ou y ayant particip&eacute;,</p>
    <p>(ii) &nbsp; publier sur le site tout message d&rsquo;information que <strong>Maneo SAS</strong> jugera utile,</p>
    <p>(iii)&nbsp; avertir toute autorit&eacute; concern&eacute;e,</p>
    <p>(iv) engager toute action judiciaire.</p>
    <p>&nbsp;</p>
    <p><strong>12.&nbsp; Responsabilit&eacute; et garantie de Maneo SAS&nbsp;</strong></p>
    <p>12.1&nbsp;<strong> Maneo SAS</strong> s&rsquo;engage &agrave; fournir les Services avec diligence et selon les r&egrave;gles de l&rsquo;art, &eacute;tant pr&eacute;cis&eacute; qu&rsquo;il p&egrave;se sur elle une obligation de moyens, &agrave; l&rsquo;exclusion de toute obligation de r&eacute;sultat, ce que les Utilisateurs reconnaissent et acceptent express&eacute;ment.</p>
    <p>En cons&eacute;quence, <strong>Maneo SAS</strong> ne peut &ecirc;tre tenue pour responsable des Contenus, dont les auteurs sont des tiers, toute r&eacute;clamation &eacute;ventuelle devant &ecirc;tre dirig&eacute;e en&nbsp; premier lieu vers l&rsquo;auteur des Contenus en question.</p>
    <p>Les Contenus pr&eacute;judiciables &agrave; un tiers peuvent faire l&rsquo;objet d&rsquo;une notification &agrave; <strong>Maneo SAS</strong> selon les modalit&eacute;s pr&eacute;vues par l&rsquo;article 6 I 5 de la loi n&deg; 2004-575 du 21 juin 2004 pour la confiance dans l'&eacute;conomie num&eacute;rique, <strong>Maneo SAS</strong> se r&eacute;servant de prendre les mesures d&eacute;crites &agrave; l&rsquo;article 12.</p>
    <p>12.3 <strong>Maneo SAS</strong> s&rsquo;engage &agrave; proc&eacute;der r&eacute;guli&egrave;rement &agrave; des contr&ocirc;les afin de v&eacute;rifier le fonctionnement et l&rsquo;accessibilit&eacute; du site. A ce titre, <strong>Maneo SAS</strong> se r&eacute;serve la facult&eacute; d&rsquo;interrompre momentan&eacute;ment l&rsquo;acc&egrave;s au site pour des raisons de maintenance. De m&ecirc;me,<strong> Maneo SAS</strong> ne saurait &ecirc;tre tenue responsable des difficult&eacute;s ou impossibilit&eacute;s momentan&eacute;es d&rsquo;acc&egrave;s au site qui auraient pour origine des circonstances qui lui sont ext&eacute;rieures, la force majeure, ou encore qui seraient&nbsp; dues &agrave; des perturbations des r&eacute;seaux de t&eacute;l&eacute;communication.</p>
    <p>12.4 <strong>Maneo SAS</strong> ne garantit pas aux Utilisateurs (i) que les Services, soumis &agrave; une recherche constante pour en am&eacute;liorer notamment la performance et le progr&egrave;s, seront totalement exempts d&rsquo;erreurs, de vices ou d&eacute;fauts, (ii) que les Services, &eacute;tant standard et nullement propos&eacute;s &agrave; la seule intention d&rsquo;un Utilisateur donn&eacute; en fonction de ses propres contraintes personnelles, r&eacute;pondront sp&eacute;cifiquement &agrave; ses besoins et attentes.</p>
    <p>12.5 Le premier devis estim&eacute; lors de la passation de commande est provisoire. Ce devis communiqu&eacute; par <strong>Maneo SAS</strong> ne fait que r&eacute;pondre aux crit&egrave;res d&rsquo;une grille tarifaire convenue avec les prestataires qu&rsquo;elle a s&eacute;lectionn&eacute;s. <strong>Maneo SAS</strong> tient &agrave; rappeler que ce service est fourni &agrave; titre gratuit pour l&rsquo;utilisateur.</p>
    <p>12.6 <strong>Maneo SAS</strong> n&rsquo;est qu&rsquo;un interm&eacute;diaire entre les utilisateurs et les prestataires. Elle est de ce fait ind&eacute;pendante de ces derniers.</p>
    <p>12.7 En tout &eacute;tat de cause, la responsabilit&eacute; susceptible d&rsquo;&ecirc;tre encourue par <strong>Maneo SAS</strong> au titre des pr&eacute;sentes est express&eacute;ment limit&eacute;e aux seuls dommages directs av&eacute;r&eacute;s subis par l&rsquo;Utilisateur.</p>
    <p>&nbsp;</p>
    <p><strong>13.&nbsp; Engagements des Partenaires</strong></p>
    <p>Afin de r&eacute;pondre aux crit&egrave;res de service de <strong>Maneo SAS</strong>, les prestataires s&rsquo;engagent &agrave; r&eacute;pondre aux crit&egrave;res administratifs leur permettant d&rsquo;effectuer leurs prestations, &agrave; respecter les tarifs appliqu&eacute;s dans le devis final, &agrave; respecter leurs obligations administratives, fiscales et sociales et les normes et r&egrave;glementations applicables dans le cadre de leurs prestations. Enfin, les Prestataires s&rsquo;engagent &agrave; respecter les crit&egrave;res de qualit&eacute; &eacute;dict&eacute;s dans le Charte de Qualit&eacute; pouvant &ecirc;tre trouv&eacute;e au bas de la page d&rsquo;accueil du site.</p>
    <p>&nbsp;</p>
    <p><strong>14.&nbsp; Manquements des prestataires</strong></p>
    <p>Dans le cas o&ugrave; un prestataire ne respecterait pas les valeurs du service, <strong>Maneo SAS</strong> se r&eacute;serve le droit de rompre le contrat pass&eacute; avec ce dernier et ce, selon les modalit&eacute;s pr&eacute;vues dans ce contrat.</p>
    <p>&nbsp;</p>
    <p><strong>15.&nbsp; Propri&eacute;t&eacute; intellectuelle</strong></p>
    <p>Les syst&egrave;mes, logiciels, structures, infrastructures, bases de donn&eacute;es et contenus de toute nature (textes, images, visuels, musiques, logos, marques, base de donn&eacute;es, etc &hellip;) exploit&eacute;s par <strong>Maneo SAS</strong> au sein du site sont prot&eacute;g&eacute;s par tous droits de propri&eacute;t&eacute; intellectuelle ou droits des producteurs de bases de donn&eacute;es en vigueur. Tous d&eacute;sassemblages, d&eacute;compilations, d&eacute;cryptages, extractions, r&eacute;utilisations, copies et plus g&eacute;n&eacute;ralement, tous actes de reproduction, repr&eacute;sentation, diffusion et utilisation de l&rsquo;un quelconque de ces &eacute;l&eacute;ments, en tout ou partie, sans l&rsquo;autorisation de <strong>Maneo SAS</strong> sont strictement interdits et pourront faire l&rsquo;objet de poursuites judiciaires.</p>
    <p>&nbsp;</p>
    <p><strong>16.&nbsp; Donn&eacute;es &agrave; caract&egrave;re personnel</strong></p>
    <p><strong>Maneo SAS</strong> pratique une politique de protection des donn&eacute;es personnelles dont les caract&eacute;ristiques sont explicit&eacute;es dans la partie intitul&eacute;e &laquo; Politique mod&egrave;le de confidentialit&eacute; &raquo; affich&eacute; en bas de la page, dont l&rsquo;Utilisateur est express&eacute;ment invit&eacute; &agrave; prendre connaissance.</p>
    <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
    <p><strong>17.&nbsp; Publicit&eacute;</strong></p>
    <p><strong>Maneo SAS</strong> se r&eacute;serve la facult&eacute; d&rsquo;ins&eacute;rer sur toute page du site et dans toute communication aux Utilisateurs tous messages publicitaires ou promotionnels sous une forme et dans des conditions dont <strong>Maneo SAS</strong> sera seule juge.</p>
    <p>&nbsp;</p>
    <p><strong>18.&nbsp; Liens et sites tiers</strong></p>
    <p><strong>Maneo SAS</strong> ne pourra en aucun cas &ecirc;tre tenue pour responsable de la disponibilit&eacute; technique de sites internet ou d&rsquo;applications mobiles exploit&eacute;s par des tiers (y compris ses &eacute;ventuels partenaires) auxquels l&rsquo;Utilisateur acc&eacute;derait par l'interm&eacute;diaire du site.</p>
    <p><strong>Maneo SAS</strong> n'endosse aucune responsabilit&eacute; au titre des contenus, publicit&eacute;s, produits et/ou services disponibles sur de tels sites et applications mobiles tiers dont il est rappel&eacute; qu&rsquo;ils sont r&eacute;gis par leurs propres conditions d&rsquo;utilisation.</p>
    <p><strong>Maneo SAS</strong> n'est pas non plus responsable des transactions intervenues entre l&rsquo;Utilisateur et un quelconque annonceur, professionnel ou commer&ccedil;ant (y compris ses &eacute;ventuels partenaires) vers lequel l&rsquo;Utilisateur serait orient&eacute; par l'interm&eacute;diaire du site et ne saurait en aucun cas &ecirc;tre partie &agrave; quelques litiges &eacute;ventuels que ce soit avec ces tiers concernant notamment la livraison de produits et/ou services, les garanties, d&eacute;clarations et autres obligations quelconques auxquelles ces tiers sont tenus.</p>
    <p>&nbsp;</p>
    <p><strong>19.&nbsp; Dur&eacute;e des Services, d&eacute;sinscription</strong></p>
    <p>Les Services sont souscrits pour une dur&eacute;e ind&eacute;termin&eacute;e.</p>
    <p>L&rsquo;Utilisateur peut se d&eacute;sinscrire des Services &agrave; tout moment, en adressant une demande &agrave; cet effet &agrave; <strong>Maneo SAS</strong> par email, aux coordonn&eacute;es mentionn&eacute;es &agrave; l&rsquo;article 2.</p>
    <p>La d&eacute;sinscription est effective imm&eacute;diatement. Elle entra&icirc;ne l&rsquo;annulation automatique de la commande.</p>
    <p>&nbsp;</p>
    <p><strong>20.&nbsp; Modifications</strong></p>
    <p><strong>Maneo SAS</strong> se r&eacute;serve la facult&eacute; de modifier &agrave; tout moment les pr&eacute;sentes conditions g&eacute;n&eacute;rales.</p>
    <p>L&rsquo;Utilisateur sera inform&eacute; de ces modifications par tout moyen utile.</p>
    <p>Tout Utilisateur qui a recours aux Services post&eacute;rieurement &agrave; l&rsquo;entr&eacute;e en vigueur des conditions g&eacute;n&eacute;rales modifi&eacute;es est r&eacute;put&eacute; avoir accept&eacute; ces modifications.</p>
    <p>&nbsp;</p>
    <p><strong>21.&nbsp; Langue</strong></p>
    <p>Dans l&rsquo;hypoth&egrave;se d&rsquo;une traduction des pr&eacute;sentes conditions g&eacute;n&eacute;rales dans une ou plusieurs langues, la langue d&rsquo;interpr&eacute;tation sera la langue fran&ccedil;aise en cas de contradiction ou de contestation sur la signification d&rsquo;un terme ou d&rsquo;une disposition.</p>
    <p>&nbsp;</p>
    <p><strong>22.&nbsp; Loi applicable et juridiction</strong></p>
    <p>Les pr&eacute;sentes conditions g&eacute;n&eacute;rales sont r&eacute;gies par la loi fran&ccedil;aise.</p>
    <p>&nbsp;</p>
    <p>En cas de contestation sur la validit&eacute;, l&rsquo;interpr&eacute;tation et/ou l&rsquo;ex&eacute;cution des pr&eacute;sentes conditions g&eacute;n&eacute;rales, les parties conviennent que les tribunaux de Paris seront exclusivement comp&eacute;tents pour en juger, sauf r&egrave;gles de proc&eacute;dure imp&eacute;ratives contraires.</p>
    <p>&nbsp;</p>
    <p><strong>23.&nbsp; Entr&eacute;e en vigueur</strong></p>
    <p>Les pr&eacute;sentes conditions g&eacute;n&eacute;rales sont entr&eacute;es en vigueur le [01/09/2016].</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h1>POLITIQUE MODELE DE CONFIDENTIALIT&Eacute;</h1>
    <p>&nbsp;</p>
    <p><strong>Introduction</strong></p>
    <p>Devant le d&eacute;veloppement des nouveaux outils de communication, il est n&eacute;cessaire de porter une attention particuli&egrave;re &agrave; la protection de la vie priv&eacute;e. C'est pourquoi, nous nous engageons &agrave; respecter la confidentialit&eacute; des renseignements personnels que nous collectons.</p>
    <p>&nbsp;</p>
    <p><strong>Collecte des renseignements personnels</strong></p>
    <p>Nous collectons les renseignements suivants :</p>
    <p>&bull;Nom</p>
    <p>&bull;Pr&eacute;nom</p>
    <p>&bull;Adresse postale</p>
    <p>&bull;Code postal</p>
    <p>&bull;Adresse &eacute;lectronique</p>
    <p>&bull;Num&eacute;ro de t&eacute;l&eacute;phone / t&eacute;l&eacute;copieur</p>
    <p>&bull;Profession</p>
    <p>Les renseignements personnels que nous collectons sont recueillis au travers de formulaires et gr&acirc;ce &agrave; l'interactivit&eacute; &eacute;tablie entre vous et notre site Web. Nous utilisons &eacute;galement, comme indiqu&eacute; dans la section suivante, des fichiers t&eacute;moins et/ou journaux pour r&eacute;unir des informations vous concernant.</p>
    <p>&nbsp;</p>
    <p><strong>Formulaires&nbsp; et interactivit&eacute;:</strong></p>
    <p>Vos renseignements personnels sont collect&eacute;s par le biais de formulaire, &agrave; savoir :</p>
    <p>&bull;Formulaire de commande</p>
    <p>&bull;Sondage d'opinion</p>
    <p>Nous utilisons les renseignements ainsi collect&eacute;s pour les finalit&eacute;s suivantes :</p>
    <p>&bull;Suivi de la commande</p>
    <p>&bull;Informations / Offres promotionnelles</p>
    <p>&bull;Statistiques</p>
    <p>&bull;Contact</p>
    <p>Vos renseignements sont &eacute;galement collect&eacute;s par le biais de l'interactivit&eacute; pouvant s'&eacute;tablir entre vous et notre site Web et ce, de la fa&ccedil;on suivante:</p>
    <p>&bull;Gestion du site Web (pr&eacute;sentation, organisation)</p>
    <p>Nous utilisons les renseignements ainsi collect&eacute;s pour les finalit&eacute;s suivantes :</p>
    <p>&bull;Commentaires</p>
    <p>&nbsp;</p>
    <p><strong>Droit d'opposition et de retrait</strong></p>
    <p>Nous nous engageons &agrave; vous offrir un droit d'opposition et de retrait quant &agrave; vos renseignements personnels.</p>
    <p>Le droit d'opposition s'entend comme &eacute;tant la possibilit&eacute; offerte aux internautes de refuser que leurs renseignements personnels soient utilis&eacute;es &agrave; certaines fins mentionn&eacute;es lors de la collecte.</p>
    <p>Le droit de retrait s'entend comme &eacute;tant la possibilit&eacute; offerte aux internautes de demander &agrave; ce que leurs renseignements personnels ne figurent plus, par exemple, dans une liste de diffusion.</p>
    <p>Pour pouvoir exercer ces droits, vous pouvez :&nbsp;</p>
    <p>Code postal : 25 rue Jonquoy, Paris 75014</p>
    <p>Courriel : contact@fixrunners.com</p>
    <p>Section du site web : fixrunners.com/</p>
    <p>&nbsp;</p>
    <p><strong>Droit d'acc&egrave;s</strong></p>
    <p>Nous nous engageons &agrave; reconna&icirc;tre un droit d'acc&egrave;s et de rectification aux personnes concern&eacute;es d&eacute;sireuses de consulter, modifier, voire radier les informations les concernant.</p>
    <p>L'exercice de ce droit se fera :</p>
    <p>Code postal : 25 rue Jonquoy, Paris 75014</p>
    <p>Courriel : contact@fixrunners.com</p>
    <p>Section du site web : fixrunners.com/</p>
    <p>&nbsp;</p>
    <p><strong>S&eacute;curit&eacute;</strong></p>
    <p>Les renseignements personnels que nous collectons sont conserv&eacute;s dans un environnement s&eacute;curis&eacute;. Les personnes travaillant pour nous sont tenues de respecter la confidentialit&eacute; de vos informations.</p>
    <p>Pour assurer la s&eacute;curit&eacute; de vos renseignements personnels, nous avons recours aux mesures suivantes :</p>
    <p>&bull;Protocole SSL (Secure Sockets Layer)</p>
    <p>&bull;Gestion des acc&egrave;s - personne autoris&eacute;e</p>
    <p>&bull;Gestion des acc&egrave;s - personne concern&eacute;e</p>
    <p>&bull;Sauvegarde informatique</p>
    <p>Nous nous engageons &agrave; maintenir un haut degr&eacute; de confidentialit&eacute; en int&eacute;grant les derni&egrave;res innovations technologiques permettant d'assurer la confidentialit&eacute; de vos transactions. Toutefois, comme aucun m&eacute;canisme n'offre une s&eacute;curit&eacute; maximale, une part de risque est toujours pr&eacute;sente lorsque l'on utilise Internet pour transmettre des renseignements personnels.</p>
    <p>&nbsp;</p>
    <p><strong>L&eacute;gislation</strong></p>
    <p>Nous nous engageons &agrave; respecter les dispositions l&eacute;gislatives &eacute;nonc&eacute;es dans : La CNIL</p>


  </div>

</section>
