<section class="contacts">

  <h2>Contacts</h2>

  <div class="text">
    <p id="princ"> Notre email : contact@fixrunners.com </p>
    <p id="com">Nous réponderons à votre mail sous 3h maximum</p>
    <p id="princ"> Notre numéro de téléphone : 0956778872 </p>
    <p id="com">Prix d'un appel local - disponible 7j/7 de 9h00 à 21h00</p>
  </div>

</section>
